#################### BACKEND #################

BACKEND_BASE_URL=http://localhost:8000
BACKEND_PORT=8000

# Will communication be SSL encrypted?
# If set to true Cookies will only be sent for encrypted requests
SECURE=false

# Secret key for encryption
# You can generate a secreet key here (use Base64 value): https://generate-random.org/encryption-key-generator
SECRET_KEY=

# Properties for JWT generation and validation
# You can generate a secret key here: https://jwtsecret.com/generate
JWT_SECRET_KEY=

# In Dev Mode backend gets recompiled after class path changes
DEV_MODE=false

###################### UI ####################

UI_BASE_URL=http://localhost:4200

################### DATABASE #################

MONGO_DB_HOST=localhost
MONGO_DB_PORT=27017
MONGO_DB_DATABASE_NAME=

MONGO_DB_USERNAME=
MONGO_DB_PASSWORD=

MONGO_DB_SSL_ENABLED=false

##################### REDIS ###################

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_SSL_ENABLED=false
REDIS_DATABASE=0
REDIS_TIMEOUT=5000ms

##################### MAIL ###################

ENABLE_EMAIL_VERIFICATION=true
MAIL_HOST=
MAIL_PORT=
MAIL_EMAIL=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_TRANSPORT_PROTOCOL=smtp
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS=true
MAIL_DEBUG=false

EMAIL_VERIFICATION_PATH=/auth/verify-email
PASSWORD_RESET_PATH=/auth/password-reset

################### LOGGING ###################

LOG_LEVEL=DEBUG
LOG_PATH=logs
